@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'Gilroy', sans-serif;
  background-color: #fbfbfb;
  color: rgba(12, 12, 12, 0.7);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  font-family: inherit;
  cursor: pointer;
}
img {
  display: block;
}
.container {
  width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
  stroke-width: 1px;
  stroke: rgba(12, 12, 12, 0.1);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #0c0c0c;
}
.header-social-list {
  display: flex;
  gap: 10px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero {
  padding-top: 80px;
}
.hero-title {
  max-width: 597px;
  font-weight: 600;
  font-size: 72px;
  line-height: 0.875;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
}
.title-part {
  color: #3350e9;
}
.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  max-width: 480px;
}
.hero-scrolldown {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.hero-image-scroll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
}
.reviews-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}
.reviews-list {
  display: flex;
  gap: 20px;
  width: calc((100%-40px) / 3);
}
.reviews-item {
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 32px 36px;
  margin: 0 auto;
}
.reviews-subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-top: 24px;
  margin-bottom: 8px;
}
.reviews-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}
.reviews-image {
  border-radius: 100%;
  stroke-width: 2px;
  stroke: #fbfbfb;
  margin: 0 auto;
}
.page-footer {
  display: flex;
  align-items: center;
  background-color: #0c0c0c;
  border-radius: 30px;
  max-width: 1216px;
}

.footer-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.footer-list-link {
  display: flex;
}

.footer-text {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 523px;
}
.footer-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}
.footer-contact {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  width: 160px;
  height: 48px;
  padding: 15px;
}
.footer-list-menu {
  display: flex;
}
.footer-item-menu {
  display: flex;
}
.footer-link-menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
}

.footer-link-adress {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
}
.footer-text-end {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.9;
}
.footer-list-end {
  display: flex;
}

.footer-link-end {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(251, 251, 251, 0.5);
}
