@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'Gilroy', sans-serif;
  background-color: #fbfbfb;
  color: rgba(12, 12, 12, 0.7);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  font-family: inherit;
  cursor: pointer;
}
img {
  display: block;
}
.container {
  width: ;
  padding: ;
  margin: 0;
}
.header {
}
.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.header-nav {
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #0c0c0c;
}
.header-social-list {
}
.header-social-item {
}
.header-social-link {
}
